<div class="aion-controllers-toolbar">
  <div class="aion-date-range-label">
    10 - 16th <span>March</span>
  </div>

  <div class="direction-buttons toolbar-buttons">
    <div>
      <%= ion_icon("chevron-left") %>
    </div>

    <div>
      <%= ion_icon("chevron-right") %>
    </div>
  </div>

  <div class="timezone">
    (GMT +02:00) Central European Standard Time
  </div>

  <div class="settings">
    <%= ion_icon("ios-gear-outline") %>
  </div>

  <div class="display-toggles toolbar-buttons">
    <div class="active">
      <%= ion_icon("ios-calendar-outline") %>
    </div>

    <div>
      <%= ion_icon("ios-list-outline") %>
    </div>
  </div>
</div>
